<% @dishes.each do |dish| %>

  <div class="ui-card">
    <header class="content">
      <div class="pull-right">14h</div>
      <img class="avatar" src="http://via.placeholder.com/100x100" alt=""> DT
    </header>
    <div class="image-wrapper">
      <img src="http://via.placeholder.com/800x800" alt="">
      <span class="star">&#9733;</span>
    </div>
    <div class="content">
      <h2>cake</h2>
      <h3>at GA</h3>
    </div>
    <footer class="content">
      <div class="pull-right">0</div>
      <div>by DT</div>
    </footer>
  </div>

<% end %>