<form action="/tips" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">title</label>
  <input type="text" name="title">
  <label for="">content</label>
  <textarea name="content"></textarea>
  <button>post</button>
</form>